nav {
  background-color: black;
  font-family: Source Sans Pro Semi Bold Italic, sans-serif;
}

.logo{
  display: block;
  float:right;
}

a{
  background-color: #4C4C4C;
  color: black;
  text-decoration: none;
  display: block;
  padding: 20px;
  float:left;
  border-bottom: solid 3px black;
}

a:hover {
  background-color: yellow;
}

.navbar{
  position: absolute;
  width: 500px;
  height: 50px;
  left: 0;
  text-align: right;
  margin: auto;
  margin-left: 60%;
  padding-top: 25px;
}
